Source: hfi1-uefi
Maintainer: Scibian Project <packaging@scibian.org>
Section: utils
Priority: extra
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/hfi1-diagtools-sw.git
Vcs-Browser: https://github.com/scibian/hfi1-diagtools-sw
Build-Depends: debhelper (>= 9),

Package: hfi1-uefi
Architecture: linux-any
Depends: ${misc:Depends},
Description: HFI1 UEFI Option ROM for Gen1 HFI
 This package contains the HFI1 UEFI Option ROM and the Intel(R)
 Omni-Path Boot EFI application.
 Usage of the firmware is subject to the terms and conditions contained
 inside the provided LICENSE file. Please read it carefully.
